.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: linear-gradient(90deg, rgba(56,51,51,1) 4%, rgba(106,106,112,1) 47%, rgba(204,213,215,1) 84%, rgba(248,253,254,1) 100%);;
}

*{
  font-size: 30px;
  font-family: calibri;
}

.jai{
  margin-top: 150px;
  text-align: center;
  width:350px;
  border: 10px solid black;
  background-color: black;
  border-radius: 5px;
}

.bam{
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
  grid-auto-rows: minmax(60px,auto);
}

input[type="text"]{
  height: 80px;
  width: 340px;
  background-color: black;
  text-align: end;
  font-size: 40px;
  color: aliceblue;
}

#clear{
  grid-column: 1/3;
}

#equal{
  grid-column: 3/5;
}
button{
  margin: 5px;
  border-radius: 15px;
  
}
img{
  margin-top: 4px;
}

button:hover{
  cursor: pointer;
}